/**app.wxss**/

// 定义全局主题色变量
@primary-color: #0052D9; // TDesign 官方推荐主色，现代、专业
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
